body {
  margin: 0;
  background-color: rgb(22, 22, 111);;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hori-centre{
  display: flex;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nomarginpadding{
  margin: 0px;
  padding: 0px;
}

.img{
  box-shadow: 0.5rem -0.5rem 8px rgba(0, 0, 0, 0.5);
  border-radius: 20rem;
  margin-top: 1rem;
}

.navbar{
  height: 20vh;
  background-color: rgb(22, 22, 111);
  display: flex;
}

.navbarButtons{
  width: 30%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbuttons{
  display: flex;
  border: 0px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.navbuttons > .button{
  background-color: rgb(11, 11, 68);
  border: 0px;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
}

.navbuttons > .button:hover{
  background-color: rgb(0, 0, 21);
  border: 0px;
  box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.5); 
}

.inputarea-container{
  display: flex;
  justify-content: center;
}

.inputarea{
  background-color: rgb(11, 11, 68);
  border-radius: 5rem;
  height: 80vh;
  width: 90vw;
  padding: 1rem;
}


.form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center ;
}

.inputsquare{
  height: 25rem;
  width: 20rem;
  background-color: rgb(22, 22, 111);
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submitButton{
  height: 20%;
}

.resultsection{
  width: 100vw;
}

.graph{
  width: 50vw;
}